*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
*.sublime-project
*.sublime-workspace
*.iml
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/core/target/
/ui.apps/target/
/ui.content/target/
nb-configuration.xml
/.idea
.project
.settings/org.eclipse.m2e.core.prefs
core/.classpath
core/.project
core/.settings/org.eclipse.core.resources.prefs
core/.settings/org.eclipse.jdt.core.prefs
core/.settings/org.eclipse.m2e.core.prefs
ui.apps/.classpath
ui.apps/.project
ui.apps/.settings/org.eclipse.core.resources.prefs
ui.apps/.settings/org.eclipse.jdt.core.prefs
ui.apps/.settings/org.eclipse.m2e.core.prefs
